.messageList {
    position: absolute;
    padding: 5% 0;
    overflow: auto;
    flex: auto;
    border: solid;
    border-style: groove;
    border-color: lightblue;
    background-color: gainsboro;
    margin-top: -10%;
    margin-left: 10.75%;
    margin-right: 26.725%;
    height: 500px;
}

.messageListTest {
    position: relative;
    padding: 5% 0;
    display: flex;
    align-items: center;
    border: solid;
    border-color: lightblue;
    border-style: groove;
    border-radius: 3%;
    margin-left: 10.75%;
    margin-right: 10.25%;
    margin-top: -10.25%;
    min-height: 750px;
    background-color: ghostwhite;
}

.messageListNo {
    position: relative;
    padding: 5% auto;
    overflow: auto;
    flex: auto;
    border: solid;
    border-style: groove;
    border-color: lightblue;
    background-color: gainsboro;
}